header {
  color: rgb(225, 11, 20);
}

.title {
  background-color: black;
  padding-top: 1px;
  font-family: 'Bungee Shade', Arial;
}

h1 {
  padding-left: 10px;
}

body {
  font-family: Arial;
  background-color: rgb(30, 30, 30);
  color: white;
}

img {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  border-radius: 100px;
}

.shows {
  text-align: center;
  display: flex;
  justify-content: center;
}

.showIcon:hover {
  transform: scale(1.2);
}

.showIcon {
  width: 175px;
  transition-duration: .5s;
}

.showIcon:hover {
  cursor: pointer;
}

.active {
  border: 3.5px solid dodgerblue;
}

#btn-area {
  text-align: center;
}

#gen-btn {
  border: 1.5px solid;
  border-radius: 10px;
  background-color: rgb(200, 11, 20);
  padding: 10px;
  border-color: rgb(200, 11, 20);
  margin-top: 20px;
}

#gen-btn:focus {
  outline: 0;
}

#gen-btn:hover {
  border-color: white;
}

#gen-btn:active {
  background-color: rgb(150, 11, 20);
  border-color: rgb(150, 11, 20);
  color: lightgray;
}

#titleLink {
  width: 35%;
}

#titleLink:hover {
  cursor: pointer;
}

.form-group {
  width: 700px;
}

.results {
  text-align: center;
  padding-top: 20px;
}

footer {
  text-align: center;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding: 0 0 0px 0;
  font-size: 20px;
  color: dimgrey;
}
