header {
  /* background-color: black; */
  color: rgb(225, 11, 20);
}

.title {
  /* border: 2px solid dodgerblue; */
  background-color: black;
  padding: 15px 0 0 0;
}

body {
  font-family: Arial;
  background-color: rgb(30, 30, 30);
  color: white;
}

img {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  border-radius: 100px;
}

.shows {
  /* border: 2px solid dodgerblue; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.showIcon:hover {
  transform: scale(1.2);
}

.showIcon {
  width: 175px;
  transition-duration: .5s;
}

#btn-area {
  text-align: center;
}

#gen-btn {
  border: 1.5px solid;
  border-radius: 10px;
  background-color: rgb(200, 11, 20);
  padding: 10px;
  border-color: rgb(200, 11, 20);
  margin-top: 20px;
}

#gen-btn:focus {
  outline: 0;
}

#gen-btn:hover {
  border-color: white;
}

#gen-btn:active {
  background-color: rgb(150, 11, 20);
  border-color: rgb(150, 11, 20);
  color: lightgray;
}

.form-group {
  width: 700px;
}

.results {
  text-align: center;
  padding-top: 20px;
}
